.iti__flag {background-image: url("~intl-tel-input/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("~intl-tel-input/build/img/flags@2x.png");}
}

.iti__selected-flag {
    background-color: transparent !important;
}

:host ::ng-deep .iti {
    width: 100% !important;
}

:host ::ng-deep .iti__flag-container {
    border-radius: 0.25rem;
    padding: 0;
    background-color: #222D3C;
}

:host ::ng-deep .iti__selected-flag {
    border: 1px solid transparent;
}

:host ::ng-deep .iti_custom_input {
    left: 68px;
    width: 80%;
}

:host ::ng-deep ul.iti__country-list {
    background-color: #222D3C;
    border: 1px solid #222D3C;
}

::ng-deep .amplify-component{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.acc-btn-group {
    text-align: right;
}

.acc-btn-group > .btn:first-child {
    margin-right: 1em;
}

.errorStyles {
    color: red;
    font-size: 13px;
    font-weight: 400;
}

alert {
    text-align: center;
}

.auth-radio-button .form-check-label {
    padding-left: 0.5em;
}