<div class="container auth-page">
    <section
      class="widget-auth mx-auto"
      widgster
      [optionsControl]="false"
      [reloadControl]="false"
      [fullscreenControl]="false"
      [collapseControl]="false"
      [closeControl]="false"
      titleClass="mt-0"
    >
    
      <h3 *widgsterTitle>
        Account Registration
      </h3>
      
      <form name="accRegistrationForm" [formGroup]="accRegistrationForm">
        <alert *ngIf="errorMessage" type="danger alert-sm widget-middle-overflow rounded-0">
          {{errorMessage}}
        </alert>
        <!-- Email -->
        <div class="form-group mt">
          <label for="email">Email*</label>
          <div class="input-group input-group-transparent">
            <input type="email"  class="form-control input-transparent pl-3" formControlName="email"
              [ngClass]="{'is-invalid':accRegistrationForm.controls.email.touched && accRegistrationForm.controls.email.invalid}" required />
          </div>
          <div class="errors" *ngIf="accRegistrationForm.controls.email.invalid && (accRegistrationForm.controls.email.touched || accRegistrationForm.controls.email.dirty)">
            <small class="form-text text-danger" *ngIf="accRegistrationForm.controls.email.errors.required">Email is required!</small>
            <small class="form-text text-danger" *ngIf="accRegistrationForm.controls.email.errors.email">Email must be a valid email address!</small>
          </div>
        </div>
        <!-- Password -->
        <div class="form-group mt">
          <label for="password">Password*</label>
          <div class="input-group input-group-transparent">
            <input type="password"  class="form-control input-transparent pl-3" formControlName="password"
              [ngClass]="{'is-invalid':accRegistrationForm.controls.password.touched && accRegistrationForm.controls.password.invalid}" required />
          </div>
          <div class="errors" *ngIf="accRegistrationForm.controls.password.invalid && 
              (accRegistrationForm.controls.password.touched || accRegistrationForm.controls.password.dirty)">
            <small class="form-text text-danger" *ngIf="accRegistrationForm.controls.password.errors.required">Password is required!</small>
            <small class="form-text text-danger" *ngIf="accRegistrationForm.controls.password.errors.minlength">Password must be at least 8 characters</small>
            <small class="form-text text-danger" *ngIf="accRegistrationForm.controls.password.hasError('passwordStrength')">
              {{accRegistrationForm.get('password').errors['passwordStrength']}}
            </small>
          </div>
        </div>
        <!-- Confirm Password -->
        <div class="form-group mt">
          <label for="confirmPassword">Confirm Password*</label>
          <div class="input-group input-group-transparent">
            <input type="password"  class="form-control input-transparent pl-3" formControlName="confirmPassword" 
              [ngClass]="{'is-invalid':accRegistrationForm.controls.confirmPassword.touched && accRegistrationForm.controls.confirmPassword.invalid}" required />
          </div>
          
          <div class="errors" *ngIf="(accRegistrationForm.controls.confirmPassword.touched || accRegistrationForm.controls.confirmPassword.dirty)">
            <!-- <small class="form-text text-danger" *ngIf="accRegistrationForm.controls.confirmPassword.errors.required">Password is required!</small> -->
            <small class="form-text text-danger" *ngIf="accRegistrationForm.get('confirmPassword').value != accRegistrationForm.get('password').value">Password must match</small>
          </div>
        </div>
        <!-- Mode of Verification -->
        <div class="form-group mt auth-radio-button">
          <label>Where would you want us to send the verification code?</label>
          <div class="input-group input-group-transparent">
            <div class="form-check" style="margin-left: 1.5em;">
              <input type="radio"  class="form-check-input" formControlName="modeofVerification" id="emailRadio" value="0"/>
              <label class="form-check-label" for="emailRadio">
                Email
              </label>
            </div>
            <div class="form-check" style="margin-left: 1.5em;">
              <input class="form-check-input" type="radio" formControlName="modeofVerification" id="phoneRadio" value="1">
              <label class="form-check-label" for="phoneRadio">
                Phone Number
              </label>
            </div>
          </div>
        </div>
        <!-- Phone Number -->
        <div class="form-group mt" *ngIf="accRegistrationForm.get('modeofVerification').value === '1'">
          <label for="phonenum">Phone Number*</label>
          <div class="input-group input-group-transparent">
            <input #phoneCode type="tel" id="phone" class="form-control input-transparent pl-3 iti_custom_input" formControlName="phonenum"
              [ngClass]="{'is-invalid':accRegistrationForm.controls.phonenum.touched && accRegistrationForm.controls.phonenum.invalid}" required />
          </div>
          <div class="errors" *ngIf="accRegistrationForm.controls.phonenum.invalid && (accRegistrationForm.controls.phonenum.touched || accRegistrationForm.controls.phonenum.dirty)">
            <small class="form-text text-danger" *ngIf="accRegistrationForm.controls.phonenum.errors.required">Phone Number is required!</small>
          </div>
        </div>
        <!-- Get Verification Code -->
        <div class="form-group mt acc-btn-group">
          <button (click)="onCancel()" type="submit" class="btn btn-m btn-grey" *ngIf="!displayAccRegistration">
            Cancel
          </button>
          <button (click)="onSignup(accRegistrationForm)" type="submit" class="btn btn-m btn-primary" 
            [disabled]="accRegistrationForm.controls.email.invalid ||
                         accRegistrationForm.controls.password.invalid ||
                         accRegistrationForm.controls.confirmPassword.invalid || 
                         ( accRegistrationForm.get('modeofVerification').value === '1' && accRegistrationForm.controls.phonenum.invalid )">
            Get Verification Code
          </button>
        </div>

        <div *ngIf="displayAccRegistration">
          <!-- Enter Verification Code -->
          <div class="form-group mt">
            <label for="Code">Enter Verification Code*</label>
            <div class="input-group input-group-transparent">
              <input type="text"  class="form-control input-transparent pl-3" formControlName="code"
                [ngClass]="{'is-invalid':accRegistrationForm.controls.code.touched && accRegistrationForm.controls.code.invalid}" required />
            </div>
            <div class="errors" *ngIf="accRegistrationForm.controls.code.invalid && (accRegistrationForm.controls.code.touched || accRegistrationForm.controls.code.dirty)">
              <small class="form-text text-danger" *ngIf="accRegistrationForm.controls.code.errors.required">Verification Code is required!</small>
            </div>
          </div>
        

        <!-- First Name -->
        <div class="form-group mt">
          <label for="firstname">First Name*</label>
          <div class="input-group input-group-transparent">
            <input type="text"  class="form-control input-transparent pl-3" formControlName="firstname"
                [ngClass]="{'is-invalid':accRegistrationForm.controls.firstname.touched && accRegistrationForm.controls.firstname.invalid}" required />
          </div>
          <div class="errors" *ngIf="accRegistrationForm.controls.firstname.invalid && (accRegistrationForm.controls.firstname.touched || accRegistrationForm.controls.firstname.dirty)">
            <small class="form-text text-danger" *ngIf="accRegistrationForm.controls.firstname.errors.required">First Name is required!</small>
          </div>
        </div>

        <!-- Last Name -->
        <div class="form-group mt">
          <label for="lastname">Last Name*</label>
          <div class="input-group input-group-transparent">
            <input type="text"  class="form-control input-transparent pl-3" formControlName="lastname"
                [ngClass]="{'is-invalid':accRegistrationForm.controls.lastname.touched && accRegistrationForm.controls.lastname.invalid}" required />
          </div>
          <div class="errors" *ngIf="accRegistrationForm.controls.lastname.invalid && (accRegistrationForm.controls.lastname.touched || accRegistrationForm.controls.lastname.dirty)">
            <small class="form-text text-danger" *ngIf="accRegistrationForm.controls.lastname.errors.required">Last Name is required!</small>
          </div>
        </div>

        <!-- Org Name -->
        <div class="form-group mt">
          <label for="orgname">Organization Name*</label>
          <div class="input-group input-group-transparent">
            <input type="text"  class="form-control input-transparent pl-3" formControlName="orgname"
                [ngClass]="{'is-invalid':accRegistrationForm.controls.orgname.touched && accRegistrationForm.controls.orgname.invalid}" required />
          </div>
          <div class="errors" *ngIf="accRegistrationForm.controls.orgname.invalid && (accRegistrationForm.controls.orgname.touched || accRegistrationForm.controls.orgname.dirty)">
            <small class="form-text text-danger" *ngIf="accRegistrationForm.controls.orgname.errors.required">Organization Name is required!</small>
          </div>
        </div>
        <!-- Buttons -->
        <div class="form-group mt acc-btn-group">
          <button (click)="onSubmit(accRegistrationForm)" type="submit" class="btn btn-m btn-primary" [disabled]="disableSubmitButton(accRegistrationForm)">
            Submit
          </button>
          <button (click)="onCancel()" type="submit" class="btn btn-m btn-grey">
            Cancel
          </button>
        </div>
      </div>
      </form>
    </section>
  </div>