<div class="container">
<form [formGroup]="formGroup">
  <alert *ngIf="errorMessage" type="danger alert-sm widget-middle-overflow rounded-0">
    {{errorMessage}}
  </alert>
  <div class="form-group mt">
    <label for="username">Username</label>
    <div class="input-group input-group-transparent">
      <div class="input-group-addon">
        <i class="la la-user text-white"></i>
      </div>
      <input id="username" class="form-control input-transparent pl-3" formControlName="username"
             type="username"
             required name="username" placeholder="Username"/>
    </div>
  </div>
  <div class="bg-widget auth-widget-footer">
    <button (click)="sumbitemail()" type="submit" class="btn btn-sm btn-danger auth-btn">
          <span class="auth-btn-circle">
            <i class="la la-caret-right"></i>
          </span>
      {{isFetching ? 'Loading...' : 'Sumbit Email'}}
    </button>
  </div>
</form>
</div>
