<div class="container">
  <h2>Change Password</h2>
  <form (ngSubmit)="submitemail(forgotPasswordForm)" #forgotPasswordForm="ngForm" *ngIf="!bShowChangePwdForm">
    <p>A Verification Code will be send to your Email ID</p>
    <div class="form-group">
        <label for="email">Enter Email ID*</label>
        <input 
          type="email" 
          name="email" 
          class="form-control"
          [ngClass]="{'ng-invalid': submitEmail.errors?.required || submitEmail.errors?.pattern}"
          ngModel 
          placeholder="Please enter your email ID"
          #submitEmail="ngModel" 
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
          required>
        
        <div class="errorStyles" *ngIf="submitEmail.touched">
          <p *ngIf="submitEmail.errors?.required">
            Email is a required field!
          </p>
          <p *ngIf="submitEmail.errors?.pattern">
            This is not a valid Email.
          </p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">
          {{isFetching ? 'Loading...' : 'Send Verification Code'}}
    </button>
    <button type="button" class="btn btn-primary" (click)="onCancelBtnClick()">Cancel</button>
  </form>

  <form (ngSubmit)="onChangePassword(changePasswordForm)" #changePasswordForm="ngForm" *ngIf="bShowChangePwdForm">
    <div class="form-group">
      <label for="email">Enter Email ID*</label>
      <input 
          type="email" 
          name="email" 
          class="form-control"
          ngModel
          placeholder="Please enter your email ID"
          #emailWithPattern="ngModel"
          value="{{emailValue}}"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
          required>
          <div class="errorStyles" *ngIf="emailWithPattern.touched">
            <p *ngIf="emailWithPattern.errors?.required">
              This is a required field!
            </p>
            <p *ngIf="emailWithPattern.errors?.pattern">
              This is not a valid Email.
            </p>
          </div>
    </div>
    <div class="form-group">
        <label for="Code">Enter Verification Code*</label>
        <input 
          type="text" 
          name="Code" 
          class="form-control"
          ngModel 
          placeholder="Please enter Verification Code"
          #code="ngModel" 
          required>
        <div class="errorStyles" *ngIf="code.touched">
          <p *ngIf="code.errors?.required">
            This is a required field!
          </p>
        </div>
    </div>
    <div class="form-group">
      <label for="NewPassword">Enter New Password*</label>
      <input 
          type="password" 
          name="NewPassword" 
          class="form-control"
          ngModel 
          placeholder="Please enter your new password"
          #newPassword="ngModel" 
          required>
      <div class="errorStyles" *ngIf="newPassword.touched">
        <p *ngIf="newPassword.errors?.required">
          This is a required field!
        </p>
      </div>
      <br/>
      <div>
        <p>Password policy:</p>
        <p>A password should have minimum of 8 characters.</p>
        <p>A password should contain atleast 1 number, 1 special character, 1 uppercase letter and 1 lowercase letter.</p>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">Change Password</button>
    <button type="button" class="btn btn-primary" (click)="onCancelBtnClick()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onResendVerificationCode()">Resend Verification Code</button>

    
  </form>
  <app-alert *ngIf="this.showAlert"></app-alert>
</div>