.sensor-registration-page form label.col-form-label {
    width: 12%;
    margin-left: 15px;
}

.sensor-registration-page .device-input {
    width: 25%;
}

.button-group{
    margin-bottom: 1em;
}

.button-group > .btn:first-child {
    margin-right: 1em;
}

.custom {
    width: 100%;
    display: inline-block;
}

.ng-select.custom ::ng-deep .ng-select-container {
    background-color: #fff !important;
}

.ng-select.custom ::ng-deep .ng-select-container .ng-arrow-wrapper .ng-arrow{
    border-color: #000 transparent transparent !important;
}

.ng-select.custom ::ng-deep .ng-value  {
    color: #000 !important;
}