::ng-deep .amplify-component{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

alert {
    text-align: center;
}

.btn-acc {
    color: #9dcdff;
}

.forgot-pwd {
    float: right;
    margin-top: 0.5em;
    font-size: 0.92rem;
}

.acc-reg {
    clear: both;
}