<div class="container">
  <p align="center" *ngIf="formGroup.errors && formGroup.errors.passwordsDoNotMatch">
    Passwords do not match. Please make sure the password and confirm password values are the same
  </p>
  <section class="widget-auth mx-auto" widgster [optionsControl]="false" [reloadControl]="false" [fullscreenControl]="false" [collapseControl]="false" [closeControl]="false" bodyClass="mt-0">
    <h3 *widgsterTitle class=mt-0>Create an account</h3>
    <p class="widget-auth-info">
      Please fill all fields below
    </p>
    <form class="mt" (ngSubmit)="register()" [formGroup]="formGroup">
      <alert type="danger alert-sm widget-middle-overflow rounded-0" *ngIf="registerService.errorMessage">
        {{registerService.errorMessage}}
      </alert>
      <div class="form-group mt">
        <label for="username">Username</label>
        <div class="input-group input-group-transparent">
          <div class="input-group-addon">
            <i class="la la-user text-white"></i>
          </div>
          <input name="username" class="form-control input-transparent" id="username" formControlName="username" type="text"
                 placeholder="Username" required>
        </div>
      </div>
      <div class="form-group mt">
        <label for="email">Email</label>
        <div class="input-group input-group-transparent">
          <div class="input-group-addon">
            <i class="la la-user text-white"></i>
          </div>
          <input name="email" class="form-control input-transparent" id="email" formControlName="email" type="text"
                 placeholder="Email" required>
        </div>
        <div *ngIf="formGroup.get('email').dirty && formGroup.get('email').errors">
            <p align="center">Invalid Email Address</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group input-group-transparent">
          <div class="input-group-addon">
            <i class="la la-lock text-white"></i>
          </div>
          <input name="password" class="form-control input-transparent" id="password" type="password" formControlName="password"
                 placeholder="Password" required>
        </div>
        <div *ngIf="formGroup.get('password').dirty && formGroup.get('password').errors">
            <p align="center">Invalid Password</p>
            <p align="center">Password must contain at least 8 characters</p>
            <p align="center">Password must contain at least 1 lower case character</p>
            <p align="center">Password must contain at least 1 upper case character</p>
            <p align="center">Password must contain at least 1 special character</p>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm</label>
        <div class="input-group input-group-transparent">
          <div class="input-group-addon">
            <i class="la la-lock text-white"></i>
          </div>
          <input name="confirmPassword" formControlName="confirmPassword" class="form-control input-transparent" id="confirmPassword" type="password"
                 placeholder="Confirm" required>
        </div>
        <div *ngIf="formGroup.get('confirmPassword').dirty && formGroup.get('confirmPassword').errors">
            <p align="center">Invalid Password</p>
            <p align="center">Password must contain at least 8 characters</p>
            <p align="center">Password must contain at least 1 lower case character</p>
            <p align="center">Password must contain at least 1 upper case character</p>
            <p align="center">Password must contain at least 1 special character</p>
        </div>
      </div>
      <div class="bg-widget auth-widget-footer">
        <button class="btn btn-sm btn-danger auth-btn"
                type="submit" [disabled]="formGroup.invalid">{{registerService.isFetching ? 'Loading...' : 'Register'}}</button>
        <p class="widget-auth-info mt-4">
          Already have the account? Login now!
        </p>
        <a class="d-block text-center mb-4" routerLink="/login">Enter the account</a>
        <!-- <div class="social-buttons">
          <button (click)="googleLogin()" class="btn btn-primary social-button">
            <i class="social-icon social-google"></i>
            <p class="social-text">GOOGLE</p>
          </button>
          <button (click)="microsoftLogin()" class="btn btn-success social-button">
            <i class="social-icon social-microsoft"></i>
            <p class="social-text">MICROSOFT</p>
          </button>
        </div> -->
      </div>
     <div class="container-fluid form">
       <div class="row" *ngIf="CurrentState=='Wait'">
         <div class="col-md-12 close-form">
          <h2> Please Wait...</h2>
         </div>
       </div>

     </div>
    </form>
  </section>
  <footer class="auth-footer">
    2019 &copy; Sing App Angular - Angular Admin Dashboard Template Made by <a href="https://flatlogic.com"
                                                                               target="_blank">Flatlogic</a>
  </footer>
</div>
