<header class="logo">
  <img src="assets/img/plumsense_logo_b.png" alt="">
  
</header>
<ul id="side-nav" class="side-nav">
  <li><a routerLink="dashboard"><img src="assets/img/phoenix/home.svg" alt=""><span class="name">Dashboard</span></a></li>
  
  <li><a routerLink="sensor"><img src="assets/img/phoenix/humidity.svg" alt="">Sensor<span class="count">{{sensorCount}}</span></a></li>

  <li><a routerLink="gateway"><img src="assets/img/phoenix/router.svg" alt="">Gateway<span class="count">{{gatewayCount}}</span></a></li>
  
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a class="accordion-toggle" (click)="sidebarBehavior($event, 'accountCollapsed')" aria-controls="account-collapse"
       [class.open]="!sidebarState.accountCollapsed">
      <img src="assets/img/phoenix/user.svg" alt="">
      <span class="name">Account</span>
    </a>
    <ul id="account-collapse" class="accordion-body" [attr.aria-expanded]="sidebarState.accountCollapsed"
        [collapse]="sidebarState.accountCollapsed" [isAnimated]="true">
      <li [routerLinkActive]="['active']"><a routerLink="users">Users</a></li>
      <li><a (click)="onGoToUtilApp()">Utilities</a></li>
      <li><a>Data Connectors</a></li>
    </ul>
  </li>

  <li><a routerLink=""><img src="assets/img/phoenix/router.svg" alt=""><span class="name">AI Insight & report</span></a></li>

  <li><a><img src="assets/img/phoenix/document_icon.png" alt="API Documentation">API Documentation</a></li>

  <li><a><img src="assets/img/phoenix/notification.png" alt="Notification">Notification</a></li>
   
</ul>

<!-- <a href="https://flatlogic.com/templates/light-blue-angular/demo">Light <span class="fw-bold">Blue</span></a> -->
<!-- <i class="fi flaticon-home"></i> <i class="fi flaticon-paper-plane"></i><i class="fi flaticon-notification"></i> -->
  <!-- <img src="assets/img/sensor.svg" alt=""> assets/img/phoenix/temp-sensor.svg -->
<!-- <li>   
    <a routerLink="inbox"><span class="name">Help</span></a> 
  </li> -->
  
  <!-- <li><a routerLink="inbox"><span class="name">Notifications</span></a></li> -->
  

<!-- <i class="fa fa-users"></i> -->

  <!-- <li>
    <a routerLink="scrolling"><li class="fi flaticon-paper-plane"></li><span class="name">Infiite Scroller Test</span></a>
  </li> -->

  <!-- <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a class="accordion-toggle" (click)="sidebarBehavior($event, 'dashboardCollapsed')" aria-controls="main-collapse"
      [class.open]="!sidebarState.dashboardCollapsed">
      <i class="fi flaticon-home"></i>
      <span class="name">Dashboard</span>
    </a>
    <ul id="main-collapse" class="accordion-body" [attr.aria-expanded]="sidebarState.dashboardCollapsed"
      [collapse]="sidebarState.dashboardCollapsed" [isAnimated]="true">
      <li [routerLinkActive]="['active']"><a routerLink="main/visits">Visits</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="main/analytics">Analytics</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="main/widgets">Widgets</a></li>
    </ul>
  </li> -->
  <!-- keep the below line for reference in case we need it in the future -->
  <!-- <li [routerLinkActive]="['active']">
    <a routerLink="inbox"><i class="fi flaticon-paper-plane"></i> <span class="name">Email</span>
      <span class="badge badge-pill badge-warning">
        9
      </span>
    </a>
  </li> -->

  <!-- <li>
    <a routerLink="devices"><i class="fi flaticon-paper-plane"></i><span class="name">Devices</span></a>
  </li> -->
  
  <!-- Device -->
  <!-- <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a class="accordion-toggle" (click)="sidebarBehavior($event, 'devicesCollapsed')" aria-controls="devices-collapse"
       [class.open]="!sidebarState.devicesCollapsed">
      <i class="fi flaticon-home"></i>
      <span class="name">Devices</span>
    </a>
    <ul id="devices-collapse" class="accordion-body" [attr.aria-expanded]="sidebarState.devicesCollapsed"
        [collapse]="sidebarState.devicesCollapsed" [isAnimated]="true">
      <li><a routerLink="devices" [routerLinkActive]="['active']">View Devices</a></li>
      <li><a routerLink="registerDevice" [routerLinkActive]="['active']">Device Registration</a></li>
    </ul>
  </li> -->
  <!-- Sensor -->
  <!-- <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a class="accordion-toggle" (click)="sidebarBehavior($event, 'sensorCollapsed')" aria-controls="devices-collapse"
       [class.open]="!sidebarState.sensorCollapsed">
      <i class="fi flaticon-home"></i>
      <span class="name">Sensors</span>
    </a>
    <ul id="devices-collapse" class="accordion-body" [attr.aria-expanded]="sidebarState.sensorCollapsed"
        [collapse]="sidebarState.sensorCollapsed" [isAnimated]="true">
      <li><a routerLink="sensor" [routerLinkActive]="['active']">Sensor List</a></li>
    </ul>
  </li> -->
  <!-- <li><a routerLink="sensor"><i class="fi flaticon-paper-plane"></i>Sensor</a></li> -->
  <!-- Gateway -->
  <!-- <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a class="accordion-toggle" (click)="sidebarBehavior($event, 'gatewayCollapsed')" aria-controls="devices-collapse"
       [class.open]="!sidebarState.gatewayCollapsed">
      <i class="fi flaticon-home"></i>
      <span class="name">Gateways</span>
    </a>
    <ul id="devices-collapse" class="accordion-body" [attr.aria-expanded]="sidebarState.gatewayCollapsed"
        [collapse]="sidebarState.gatewayCollapsed" [isAnimated]="true">
      <li><a routerLink="gateway" [routerLinkActive]="['active']">Gateway List</a></li>
    </ul>
  </li> -->
  <!-- <li><a routerLink="gateway"><i class="fi flaticon-paper-plane"></i>Gateway</a></li> -->
  <!-- Help -->
  <!-- <li>
    <a routerLink="inbox"><i class="fi flaticon-paper-plane"></i><span class="name">Help</span></a>
  </li> -->
  <!-- Notification -->
  <!-- <li>
    <a routerLink="inbox"><i class="fi flaticon-paper-plane"></i><span class="name">Notifications</span></a>
  </li> -->
  <!-- Account -->
  <!-- <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a class="accordion-toggle" (click)="sidebarBehavior($event, 'accountCollapsed')" aria-controls="account-collapse"
       [class.open]="!sidebarState.accountCollapsed">
      <i class="fi flaticon-home"></i>
      <span class="name">Account</span>
    </a>
    <ul id="account-collapse" class="accordion-body" [attr.aria-expanded]="sidebarState.accountCollapsed"
        [collapse]="sidebarState.accountCollapsed" [isAnimated]="true">
      <li [routerLinkActive]="['active']"><a routerLink="users">Users</a></li>
    </ul>
  </li> -->
  <!-- Infiite Scroller Test -->
  <!-- <li>
    <a routerLink="scrolling"><li class="fi flaticon-paper-plane"></li><span class="name">Infiite Scroller Test</span></a>
  </li> -->