.sidebar {
  margin-top: 50px;
}

.side-nav {
  li {
    a {
      img {
        height: 18px;
        width: 18px;
        margin-right: 10px;
      }
    }
  }
  a.accordion-toggle {
    position: relative;
    &:before {
      position: absolute;
      right: 10px;
      content: "\f107";
      font: normal normal normal 14px/1 FontAwesome;
      transform: rotate(0deg);
      transition: transform 300ms linear;
    }

    &.open:before {
      transform: rotate(180deg);
    }
  }
}

.count{
  margin-left: 10px;
}

.logo img{
  height: 2em;
  width: 12em;
}

