.header-container {
    margin-bottom: 30px;
}

.header-container h3,
.header-container .device-status-property  {
    display: inline-block;
}

.header-container h3{
    margin-right: 15px;
}

.device-status-property .connection-status::before {
    content: "\2B24";
    margin-right: 0.5rem;
}

.device-status-property .connection-status {
    font-size: 18px;
}

.sensorForm form {
    margin-bottom: 15px;
}

.sensorForm label.col-form-label,
.sensor-graph label.col-form-label {
    width: 15%;
    margin-left: 15px;
}

.sensorForm h5 {
    font-weight: bold;
}

.sensorForm hr {
    border-top: 1px solid grey !important;
}

.sensorForm .device-input,
.sensor-graph .device-input {
    width: 30%;
}

.sensor-details-page h5 {
    font-weight: bold;
}

.sensor-details-page hr {
    border-top: 1px solid grey !important;
}

.addSensorToGraph label.col-form-label {
    width: 10%;
    margin-left: 15px;
}

.addSensorToGraph .device-input {
    width: 30%;
}


.graph {
    width: 600px;
    height: 650px;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 360px; 
    max-width: 800px;
    margin: 1em auto;
  }
  
  .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #EBEBEB;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
  }
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  .highcharts-data-table th {
      font-weight: 600;
    padding: 0.5em;
  }
  .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
  }
  .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }

  .sensor-details,
  .sensor-graph,
  .sensor-data-table {
      margin-bottom: 30px;
  }
  .assign-gateway-page form label.col-form-label {
    width: 12%;
    margin-left: 15px;
}

.custom {
    width: 20%;
    display: inline-block;
    margin-right: 15px;
}

.ng-select.custom ::ng-deep .ng-value  {            
    background-color: #fff !important;
    color: #000 !important;
}

.sensor-selected {
    width: 20%;
    display: inline-block;
}

.sensor-multi-select {
    margin-bottom: 15px;
}