<app-spinner [spinnerSize]="'medium'" [fullScreen]="true"></app-spinner>
<div class="row header-container">
    <div class="col">
        <h3>Sensor List</h3>
    </div>
    <div class="col">
        <div class="float-right">
            <a class="btn btn-primary" (click)="onRefresh()">
                <i class="glyphicon glyphicon-refresh text-white"></i>
            </a>
            <a href="#" class="btn btn-primary" routerLink="/app/sensor/addSensor">
                <i class="glyphicon glyphicon-plus text-white"></i>
            </a>
        </div>
    </div>
</div>
<!--<div class="btn-toolbar">-->
<!--  <a (click)="openDialog('Edit', row)">-->
<!--    <span class="glyphicon glyphicon-edit"></span>-->
<!--  </a>-->
<!--  <a (click)="openDialog('Delete', row)">-->
<!--    <span class="glyphicon glyphicon-trash"></span>-->
<!--  </a>-->
<!--</div>-->
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let item of sensorsArray" >
   <div class="tile-container">
    <div class="card mb-xlg border-0" [ngClass]="item.status == 'Online' ? 'status-online' : 'status-offline'">
<!--    <div class="widget widget-sm bg-success text-white ng-tns-c125-29">-->
     <div class="card-body text-white">
       <div class="d-flex flex-row-reverse">
        <div class="btn-toolbar">
          <a (click)="openDialog('Edit', item)">
            <i class="glyphicon glyphicon-edit gi-2x"></i>
          </a>
          <a (click)="openDialog('Delete', item)">
           <span class="glyphicon glyphicon-trash gi-2x"></span>
         </a>
        </div>
       </div>
       <br>
       <div class="d-flex justify-content-between">
<!--        <span class="fw-semi">Sensor Id:</span>-->
         <a class="fw-semi-bold ml-sm" [routerLink]="['id/', item.sensorid]"><h3>{{item.sensorid}}</h3></a>
       </div>
      <div class="d-flex justify-content-between">
<!--        <span class="fw-semi">Sensor Name:</span>-->
        <a class="fw-semi-bold ml-sm"><h5>{{item.sensorName}}</h5></a>
      </div>
       <div class="d-flex justify-content-between">
<!--        <span class="fw-semi">Gateway:</span>-->
         <a  class="fw-semi-bold ml-sm"><h5>{{item.gateway}}</h5></a>
       </div>
       <div class="d-flex justify-content-between">
<!--         <span class="fw-semi">Last connected:</span>-->
         <a class="fw-thin ml-sm time-cl">{{item.lastconnected}}</a>
       </div>
     </div>
   </div>
   </div>
  </div>
</div>

<ngx-datatable class="table table-striped table-hover" [rows]="sensorsArray"
    [columnMode]="columnMode.force" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" >
    <ngx-datatable-column name="sensor id" prop="sensorid">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
            <a [routerLink]="['id/', row.sensorid]">
                {{value}}
            </a>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="sensor Name" prop="sensorName">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
            {{value}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="status" prop="status">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
            <div class="device-status-property" *ngIf="value === 'Online'">
                <span class="connection-status connected text-success"></span>
            </div>
            <div class="device-status-property" *ngIf="value === 'Offline'">
                <span class="connection-status connected text-danger"></span>
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Type" prop="sensorType">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
        {{value}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Current Value" prop="currentReading">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
        {{value}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="gateway"  prop="gateway">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
        {{value}}
        </ng-template>
    </ngx-datatable-column>

    <!-- <ngx-datatable-column name="activation date" prop="activationdate">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
        {{value}}
        </ng-template>
    </ngx-datatable-column> -->

    <!-- <ngx-datatable-column name="last connected" prop="lastconnected">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
        {{value}}
        </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column name="Action">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
            <div class="btn-toolbar">
                <a (click)="openDialog('Edit', row)">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a (click)="openDialog('Delete', row)">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

<!-- <span class="d-none d-md-inline-block">Delete</span> -->
