<h3>Sensor List</h3>

<ngx-datatable class="table table-striped table-hover" [rows]="sensorsArray"
    [columnMode]="columnMode.force" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" >
    <ngx-datatable-column name="name">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
            <a [routerLink]="[row.id]">
                {{value}}
            </a>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="id">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
        {{value}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="product">
        <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
        {{value}}
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
  
  
