.header-container {
    margin-bottom: 30px;
}

.header-container a{
    margin-right: 10px;
}

.header-container a:last-child{
    margin-right: 0px;
}

.device-status-property .connection-status::before {
    content: "\2B24";
    margin-right: 0.5rem;
}

.device-status-property .connection-status {
    font-size: 18px;
}

.btn-toolbar .glyphicon:before {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}
.status-online{
  background: #61D85E !important;
}
.status-offline{
  background: #FF8253 !important;
}
.time-cl{
  color: #adb5bd;
  font-size: 1em;
}
.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
}
.lg-2{
  font-size: 2em !important;
  width: 19px !important;
}
.fa-search{
  display: table-cell;
  margin-left: -34px !important;
  margin-bottom: 10px !important;
  width: 35px !important;
  height: 35px !important;
}
.form-control {
  /*box-sizing: content-box !important;*/
  width: 250px !important;
  /*height: 15px !important;*/
  display: inline-block !important;
  margin-bottom: 10px !important;
  margin-left: -12px !important;
}
/*.fa-search:before{*/
/*  margin-left: -23px !important;*/
/*}*/
/*.form-control {*/
/*  box-sizing: content-box !important;*/
/*  width: 360px !important;*/
/*  height: 15px !important;*/
/*  display: inline-block !important;*/
/*  margin-top: 1px !important;*/
/*  margin-left: -11px !important;*/

/*  input[type=text] {*/
/*    padding-left: -1px !important;*/
/*    align-content: start !important;*/
/*    min-height: 3px !important;*/
/*   margin-left: -2px !important;*/
/*  }*/
/* }*/


img {
  height: 50px !important;
  width: 30px !important;
}
/*.logo {*/
/*  margin: 20px 0 20px;*/
/*  font-size: 16px;*/
/*}*/

/*.logo img{*/
/*  height: 3em;*/
/*  width: 12em;*/
/*}*/

.tile-container-content {
  cursor: pointer;
}

.card {
  min-height: 172px;
}

.card .icon {
  font-size: 36px;
  margin: 0 10px 10px;
}