<app-spinner [spinnerSize]="'medium'" [fullScreen]="true"></app-spinner>
<ol class="breadcrumb">
  <li class="breadcrumb-item">YOU ARE HERE</li>
  <li class="active breadcrumb-item">Users</li>
</ol>
<!-- <app-dialog (emitSelectedValue)="addItem($event)"></app-dialog> -->
<button class="btn btn-m btn-primary float-right" routerLinkActive="router-link-active" (click)="openDialog('Add',emptyRowObj)"
  >
  <span class="d-none d-md-inline-block">Add User</span>
</button>
<ngx-datatable class="table table-striped table-hover" [rows]="usersArray"
    [columnMode]="columnMode.force" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" >

  <!-- Column: Active -->
  <ngx-datatable-column name="active" prop="active">
    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="active"
                let-onCheckboxChangeFn="onCheckboxChangeFn" let-row="row" >
      
        <input type="checkbox" class="ngx-datatable-checkbox" [checked]="value" 
              (change)="onCheckboxChangeFn($event)" (click)="onCheckBoxSelected(row)"/>
        <span class="checkmark"></span>
   
    </ng-template>
  </ngx-datatable-column>

  <!-- Column: Name -->
  <ngx-datatable-column name="name" prop="name">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <!-- Column: Email -->
  <ngx-datatable-column name="email" prop="email">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <!-- Column: Phone Number -->
  <ngx-datatable-column name="phone number" prop="phonenumber">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <!-- Column: Org Name -->
  <ngx-datatable-column name="org name" prop="orgname">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <!-- Column: Action Buttons -->
  <ngx-datatable-column name="Action">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div class="btn-toolbar">
        <a (click)="openDialog('Edit',row)">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
        <a (click)="openDialog('Delete',row)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

