.header-container {
    margin-bottom: 30px;
}

.header-container h3,
.header-container .device-status-property  {
    display: inline-block;
}

.header-container h3{
    margin-right: 15px;
}

.device-status-property .connection-status::before {
    content: "\2B24";
    margin-right: 0.5rem;
}

.device-status-property .connection-status {
    font-size: 18px;
}

.device-details-tabset label.form-check-label {
    margin-left: 0px;
    padding-left: 5px;
    margin-right: 10px;
}

.device-details-tabset form {
    margin-bottom: 15px;
}

.device-details-tabset form label.col-form-label {
    width:27%;
    margin-left: 15px;
}

.device-details-tabset h5 {
    font-weight: bold;
}

.device-details-tabset hr {
    border-top: 1px solid grey !important;
}

.device-details-tabset .device-input {
    width:30%;
}

.config-btn-group .btn {
    margin-right: 10px;
}

.device-cmd-btn {
    width: 27%;
    margin-left: 15px;
}

.device-info {
    width: auto;
}


.display-inline-block {
    display: inline-block;
}

.switch {
    box-sizing: content-box;
}

.switch input {
    display: none;
}

.switch i {
    background-color: #1c2531;
    display: inline-block;
    cursor: pointer;
    padding-right: 20px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    border-radius: 20px;
    box-shadow: inset 0 0 1px rgb(0 0 0 / 50%);
}

.switch i:before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
}

.switch :checked+i {
    padding-right: 0;
    padding-left: 20px;
    background: #64bd63;
}

.switch-status {
    position: relative;
    z-index: 0;
    top: -10px;
    bottom: 10px;
    left: 10px;
}

.device-cmd-dispaly label {
    /* width: 10%;
    margin-left: 15px; */
    margin-left: -30px;
    margin-right: 20px;
    display: inline-block;
}

.device-cmd-display .ng-select {
    width: 60%;
    float: right;
}

.device-cmd-display {
    width: 40%;
    padding: 0 15px;
}

.device-cmd-response {
    width: 60%;
    padding: 0 15px;
}

.device-cmd-display button {
    clear: both;
    margin-top: 1em;
}