/* You can add global styles to this file, and also import other style files */
/* @import "~@aws-amplify/ui/src/Theme.css";
@import "~@aws-amplify/ui/src/Angular.css"; */

@import "~@angular/cdk/overlay-prebuilt.css";

body .bs-datepicker{
    color: #f8f8f8;
    background: #293647;
    border-radius: 10px;
}

body .bs-datepicker-multiple {
    border-radius: 0px;
}

body .bs-datepicker-head {
    background-color: inherit !important;
}

body .bs-datepicker-body table th{
    color: #ffffff;
}

body .bs-datepicker-body table td{
    color: #ffffff; 
}

body .bs-datepicker-body table td span.is-other-month, 
body .bs-datepicker-body table td.is-other-month span {
    color: #ffffff;
}

body .theme-green .bs-datepicker-body table td span.selected, 
body .theme-green .bs-datepicker-body table td.selected span, 
body .theme-green .bs-datepicker-body table td span[class*=select-]:after, 
body .theme-green .bs-datepicker-body table td[class*=select-] span:after {
    background-color: rgba(0,0,0,.15);
}

body .bs-datepicker-body table td.is-highlighted:not(.disabled):not(.selected) span, 
body .bs-datepicker-body table td span.is-highlighted:not(.disabled):not(.selected) {
    background-color: #FFFFFF;
    color: #293647
}

.content .content-footer {
    text-align: center;
}

.form-horizontal-custom h5 {
    font-weight: bold;
    clear: both;
}

.form-horizontal-custom hr {
    border-top: 1px solid grey;
}

.form-horizontal-custom .form-actions {
    padding: 17px 15px 18px;
    background-color: transparent;
}

.form-horizontal-custom .form-actions .btn {
    margin-right: 1em;
}

.form-horizontal-custom .form-actions .btn:last-child {
    margin-right: 0em;
}