
.title-container {
    display: block;
    padding: 15px 17px 15px 0;
    color: #f8f8f8;
    margin-bottom: 15px;
    position: relative;
}

.dashboard-counters-view .counters{
    display: flex;
    margin: 2rem 0;
}

.dashboard-counters-view .counters .counter {
    flex: 1 1 33.33333%;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.dashboard-counters-view .counters .counter-label {
    display: block;
    font-weight: 600;
    margin-bottom: 1rem;
}

.dashboard-counters-view .counters .counter-value {
    display: block;
    border-right: solid 1px #e2e2e2;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1;
}

.dashboard-counters-view .counters .counter:last-child .counter-value {
    border-right: none;
}

.card{
    margin-bottom: 30px
}

hr {
    border-top: 1px solid grey !important;
    margin: 5px 0px 15px 0px;
}

.graph {
    width: 650px;
    height: 500px;
}