
.title-container {
    display: block;
    padding: 15px 17px 15px 0;
    color: #f8f8f8;
    margin-bottom: 15px;
    position: relative;
}

.dashboard-counters-view .counters{
    display: flex;
    margin: 2rem 0;
}

.dashboard-counters-view .counters .counter {
    flex: 1 1 33.33333%;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.dashboard-counters-view .counters .counter-label {
    display: block;
    font-weight: 600;
    margin-bottom: 1rem;
}

.dashboard-counters-view .counters .counter-value {
    display: block;
    border-right: solid 1px #e2e2e2;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1;
}

.dashboard-counters-view .counters .counter:last-child .counter-value {
    border-right: none;
}

.card{
    margin-bottom: 30px
}

hr {
    border-top: 1px solid grey !important;
    margin: 5px 0px 15px 0px;
}

.graph {
    width: 650px;
    height: 500px;
}

section.device-tile {
    padding: 10px 10px !important;
}

section .widget-content .header {
    text-align: center;
}

section .widget-content .header img {
    height: 42px;
    width: 42px;
}

section .widget-content .header span {
    display: inline-block;
    margin: 0px 15px;
    font-size: 2em;
}

section .widget-content .header a {
    text-decoration: none;
}

section .widget-content .header .counter {
    text-align: center;
    font-size: 1.65em;
    color: #FFFFFF;
}

section.device-tile .device-status-sectionB {
    text-align: center;
}

section.device-tile .device-status-sectionB .status-circle {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    display: inline-block;
    margin-right: 3em;
    text-align: center;
    cursor: pointer;
}

section.device-tile .device-status-sectionB .status-circle.online {
    border-color: #61D85E;
    background-color: #61D85E;
}

section.device-tile .device-status-sectionB .status-circle.offline {
    border-color: 1px solid #FF8253;
    background-color: #FF8253;
}

section.device-tile .device-status-sectionB .status-circle span {
    font-size: 2em;
    line-height: 80px;
}

section .widget-content .footer {
    padding: 0px 10px;
    font-size: 1.5rem;
}