<app-spinner [spinnerSize]="'medium'" [fullScreen]="true"></app-spinner>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-12">
            <div class="title-container">
                <h3>{{ location }}</h3>
            </div>
        </div>
        <div class="col-lg-12 col-12">
            <section 
                class="mx-auto"
                widgster
                [optionsControl]="false"
                [reloadControl]="false"
                [fullscreenControl]="false"
                [collapseControl]="false"
                [closeControl]="false"
                titleClass="mt-0">
                    <div class="widget-content dashboard-counters-view">
                        <div class="counters">
                            <a class="counter navigation-link" routerLink="/app/sensor">
                                <span class="counter-label">Sensors</span>
                                <span class="counter-value">{{activeSensorCount}}/{{totalSensorCount}}</span>
                            </a>
                            <a class="counter navigation-link" routerLink="/app/gateway">
                                <span class="counter-label">Gateways</span>
                                <span class="counter-value">{{activeGatewayCount}}/{{totalGatewayCount}}</span>
                            </a>
                        </div>
                    </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Add a Gateway:</h5>
                  <hr>
                  <a class="btn btn-primary" (click)="addDeviceNav('app/gateway/addGateway')">Add Gateway</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Add a Sensor:</h5>
                  <hr>
                  <a class="btn btn-primary" (click)="addDeviceNav('app/sensor/addSensor')">Add Sensor</a>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-12">
            
        </div>
    </div>
  </div>